@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2C0A2, #D98E73);

}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(97, 63, 51, 0.664);
}

h1 {
    text-align: center;
    color: #D97C0B;
    text-shadow: 1px 1px 2px #7c480883;
}

h2 {
    color: #428C85;
}

p {
    text-align: justify;
}